
  
  html, body {
    margin: 0;
    background: white;
    overflow: hidden;
  }
  body{
      width: 100vw;
      height: 100vh;
  }
  canvas {
    border: 1px solid black;
    cursor: crosshair; /* Change cursor to crosshair when hovering over canvas */
}
  
  #nav-bar {
    position: absolute;
    background-color: cadetblue;
    border-radius: 16px;
    width: 10%;
    height: 90%;
    margin: 1%;
    display: flex;
    right: 1;
    flex-direction: column;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    user-select: none;
    z-index: 100;
  }
  #nav-bar a {
    color: inherit;
    text-decoration: inherit;
  }
  
  #nav-header {
    position: relative;
    
    left: 16px;
    width: calc(var(--navbar-width) - 16px);
    min-height: 80px;
    
    border-radius: 16px;
    z-index: 2;
    display: flex;
    align-items: center;
    transition: width 0.2s;
  }
  
  #nav-title {
    font-size: 1.5rem;
    transition: opacity 1s;
  }

 
  

  .nav-button {
    position: relative;
    padding: 0;
    margin: 20px;
    width: 80%;

    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: rgb(123, 195, 255);
   
    cursor: pointer;
    z-index: 1;
    
  }
  
  .nav-button:hover{
      color: red;
  }
  .nav-button:active{
      background-color: black;
  }

  
  .arrow{
       display: none;
     
       flex-direction: column;
       align-items: center;
       justify-content: center;
      position: fixed;
      width: 100px;
      color: wheat;
      height: 100px;
      background-color: black;
      top: 100px;
      left:180px;
      border-radius: 50% 50% 50% 10px;
      z-index: 100;

  }

  #select_one{
        /* display: none; */
         
       
        flex-wrap: wrap;
         /* padding: px; */

        /* display: flex; */
        /* justify-content: center; */
        /* margin-left: 100px; */

  }
  #select_one>li{

       list-style:none;

  }
  #select_one>li:hover{
     color: none;
    
  }
  .btn_color{
      margin: 5px;
  }

  .new{ 
      
    position: relative;
    padding: 0;
    margin: 20px;
    width: 80%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: rgb(123, 195, 255);
     display: none;
    cursor: pointer;
    z-index: 1;
      height: auto;
     
  }

  #color1:hover{

       color: blue;
  }
  #color2:hover{

    color: black;
}
#color3:hover{

  color: yellow;
}
#color4:hover{

  color: green;
}
#color5:hover{

  color: pink;
} #color6:hover{

  color: rgb(180, 87, 87);
}